asgiref==3.8.1
blinker==1.8.2
click==8.1.7
colab-xterm==0.2.0
colorama==0.4.6
Django==5.2.2
Flask==3.0.3
Flask-Login==0.6.3
git-filter-repo==2.38.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysqlclient==2.2.7
pillow==11.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
setuptools==75.8.0
sqlparse==0.5.3
tornado==6.4.2
tzdata==2025.2
Werkzeug==3.0.3
