{%extends 'base.html'%}
{% load humanize %}

{%block content%}
{{block.super}}
<div class="container text-center">
    <div class="row mt-5 ">
        <div class="col-3 card">
            <div class="mt-3">
                {%if user.profile.profile_photo%}
                <img class="rounded-circle" src="{{user.profile.profile_photo.url}}" style="height:100px;width: 100px;"
                    alt="No profile pic">
                {%else%}
                <p>No profile picture!</p>
                {%endif%}
            </div>
            <div>
                <strong style="font-size:25px;">{{current_user.username | title}}</strong>
                <p>{{current_user.email}}</p>
            </div>
            <form action="{% url 'logout_url' %}" method="post" class="mb-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
            <hr class="my-0">

            {%if user.profile.bio %}
            <p class="fst-italic">{{user.profile.bio}}</p>
            {%else%}
            <p>No bio!</p>
            {%endif%}

            <hr class="my-0">
            <div class="d-flex my-2">
                <a href='/updateprofile' class="btn btn-warning text-white">Edit profile</a>

            </div>
            <!-- <hr class="my-0"> -->
        </div>
        <div class="col-1">

        </div>
        <div class="card bg-light col-8">
            <p>jjkj</p>
            {%if posts%}
            <div class="row p-2">
                {% for post in posts %}
                {%if post.user.username == current_user.username%}
                <div class="col-xs-6 col-sm-6 col-md-4 card">
                    <img src="{{post.post_image.url}}" class="img-responsive" alt="Image"
                        style="height:150px;width:100%;" type="button" class="btn btn-sm btn-outline-primary"
                        id="post{{post.id}}" data-whatever="{{post.id}}" data-toggle="modal"
                        data-target="#extraModal{{post.id}}">
                </div>
                {%endif%}
                {% endfor %}

            </div>
            {%else%}
            <div class="row text-danger">
                <p>No Post!</p>
            </div>
            {%endif%}

        </div>
    </div>

    {% for post in posts %}

    <div class="modal fade" id="extraModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content ">

                <div class="modal-body row" style="padding:0;">
                    <img style="height: 500px;padding:0;margin: 0;" id="image" class=" col-12 col-md-7 text-center"
                        src='{{post.post_image.url}}'>

                    <div class=" col-12 col-md-5 card">
                        <div class="card-header bg-white">
                            <p><span>Posted by:
                                </span><strong>{{post.user.username| title}}</strong></p>
                            <p><span>Caption:
                                </span>{{post.caption}}</p>

                        </div>

                        <div class="card-body">
                            {% for comment in comments %}
                            {%if post.id == comment.post.id%}
                            <p><strong>{{comment.user.username}}</strong> {{comment.comment | title}} <span
                                    style="font-size: 10px;color:gray;">{{comment.pub_date | naturaltime}}</span></p>
                            {%endif%}
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {%endfor%}


</div>
{%endblock%}