@media only screen and (max-width: 770px) {
    .image {
      display: none;
    }

    .card {
        margin-right: 15%;
        margin-left: 15%;
    }
  }

.navbar-header>a{
  color:black;
}

.navbar-header>a:hover{
  color:black;
  text-decoration: none;
}

.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}
