{%extends 'base.html'%}
{% load static%}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-1">

    </div>
    <div class="col-md-5 p-2 position-relative mt-5">
      <div class="position-relative">
        <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'images/phone.jpg' %}"
          class="img-fluid image shadow rounded-3 w-100" style="height: 100%;">

        <div
          class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-info bg-opacity-25">
          <div class="text-center text-warning p-3">
            <div class="typing-container">
              <h2 class="fw-bold type-anim-1">IF YOU LIKE IT.</h2>
              <p class="lead fw-bold mt-3 type-anim-2">SHARE IT.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">

      <div class="card mb-5 rounded-3">

        <div class="card-heading text-center">
          <!-- <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'images/logo.png' %}" class="img-fluid"
            style="height:30%;width:30%"> -->
                  <div class="d-inline-flex mt-4" style="color: #2580c2;">
        <i href="/home" class="fa fa-camera-retro fa-2x"  style="color: #2580c2;"></i>
        <p class="mt-2 fw-bold">Instamedia</p>
      </div>
          {%if name%}
          <strong>
            <p class="text-secondary" style="font-size:17px;">{{name}} to see photos and videos from your friends.</p>
          </strong>
          {%else%}
          <strong>
            <p class="text-secondary" style="font-size:17px;">Login to see photos and videos from your friends.</p>
          </strong>
          {%endif%}
        </div>
        {% if form.errors %}
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <p class="text-danger text-center">{{ error }}</p>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <form class="card-body" method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="fieldWrapper">
            <p></p><strong>{{ field.label_tag }}</strong></p> {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
          {% endfor %}

          <div class="form-group" style="margin-top:5%;">
            {%if name%}
            <input type="submit" class="btn btn-primary btn-sm" value="{{name}}">
            <p>Already have an account? <a href="{%url 'login_url'%}">Login</a></p>
            {%else%}
            <input type="submit" class="btn btn-primary btn-sm" value="Login">
            <p>Don't have an account? <a href="{%url 'signup'%}">Sign Up</a></p>
            {%endif%}
          </div>

          <input type="hidden" name="next" value="{{next}}">

        </form>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-1"></div>
  </div>
</div>

{% endblock %}